@import '../../static/scss/variables';

.timer {
  width: 100%;
  height: 130px;
  display: flex;
  gap: 20px;
  justify-content: center;
  font-size: 72px;
  line-height: 1;
  font-weight: 600;
  color: $text-dark-blue;
  @media(max-width: 1365px) {
    height: 82px;
    gap: 10px;
    font-size: 36px;
  }
  @media(max-width: 480px) {

  }
  &__item {
    flex-basis: 132px;
    position: relative;
    @media(max-width: 1365px) {
      flex-basis: 82px;
    }
    @media(max-width: 480px) {
      flex-basis: 72.5px;
    }
    &:not(:last-child)::before {
      content: ':';
      display: block;
      position: absolute;
      left: 100%;
      top: 0;
    }
    &::after {
      content: '';
      display: block;
      width: 132px;
      height: 54.12px;
      background: url('../../static/images/timer-item-label.png') top right / contain no-repeat;
      position: absolute;
      bottom: 0;
      left: 0;
      color: $text-white;
      font-size: 16px;
      line-height: 1;
      font-weight: 400;
      text-align: center;
      box-sizing: border-box;
      @media(max-width: 1365px) {
        background: url('../../static/images/timer-item-label-small.png') center / contain no-repeat;
        width: 64px;
        height: 40px;
        font-size: 12px;
        left: calc(50% - 64px / 2);
      }
    }
    &:nth-child(1)::after {
      content: 'Days';
      padding: 16.95px 42px 0 50px;
      @media(max-width: 1365px) {
        content: 'DD';
        padding: 14px 21px;
      }
    }
    &:nth-child(2)::after {
      content: 'Hours';
      padding: 16.95px 49px 0 47px;
      @media(max-width: 1365px) {
        content: 'HH';
        padding: 14px 21px;
      }
    }
    &:nth-child(3)::after {
      content: 'Minutes';
      padding: 16.95px 31px 0 38px;
      @media(max-width: 1365px) {
        content: 'MM';
        padding: 14px 21px;
      }
    }
    &:nth-child(4)::after {
      content: 'Seconds';
      padding: 16.95px 29px 0 34px;
      @media(max-width: 1365px) {
        content: 'SS';
        padding: 14px 21px;
      }
    }
  }
}