/*=======background========*/
$background-main: #ffffff;
$background-footer: #162C4E;
$background-modal-overlay: #162C4E99;

/*=======text========*/
$text-dark-blue: #162C4E;
$text-black: #000000CC;
$text-white: #ffffff;
$text-error: #DF2224;

/*=======links========*/
$link-dark-blue: #1D4169;
$link-red: #DF2224;
// $link-dark-blue-hover: #004fff;
// $link-red-hover: #004fff;
// $link-dark-blue-active: #004fff;
// $link-red-active: #004fff;

/*=======button-loader========*/
$button-circle-main-bcg: #ffffffcc;
$button-main-slider: #ffffff;

/*=======input========*/
$input-text-black: #00000099;
$input-stroke-error: #DF2224;